body,htm,#root{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center; 
  width: 90%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.leftbar{
  background-color: blue;
  width: 20vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.center{
  background-color: yellow;
  width: 40vw;
}
.rightbar{
  background-color: lightblue;
  width: 20vw;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}


/* MENU */
.leftbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.lista-menu p {
  font-size: 18px;
}

.tile{
  display:flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px 30px;
}
.tile:hover{
  background-color: #eee;
  border-radius: 20px;
}
.icono-tile{
  padding-right: 10px;
}
.boton-twittear-big{
  background-color: hsl(210, 100%, 56%);
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  color: white;
  transition: background-color 0.5s ease;
}
.boton-twittear-small{
  background-color: hsl(210, 100%, 56%);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
  transition: background-color 0.5s ease;
}
.boton-twittear-big:hover{
  background-color: hsl(210, 100%, 45%);
}
.boton-twittear-small:hover{
  background-color: hsl(210, 100%, 45%);
}
.btn-left{
  margin-left: 20px;
}

/* PERFIL */
.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  position: absolute;
  bottom: 5px;
}
.perfil:hover {
  background-color: #eee;
  border-radius: 20px;
}
.foto-perfil{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.perfil p{
  padding-left: 5px;
  margin: 0;
  font-size: 12px;
}
.datos-perfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.datos-perfil .subtitulo{
  color: gray;
}

/* PANEL CENTRAL */
.center{
  border: 1px solid gray;
  border-top: none;
}
.titulo{
  margin: 5px 10px;
}
#btn-top{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}
.btn-center{
  background-color: white;
  border: none;
  margin-top: 20px;
  padding: 10px  50px;
}
.btn-center:hover{
  background-color: #f9f9f9
}


.panel-escribir{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}
.iconos-panel-escribir{
  display: flex;
  margin: 5px 10px 5px 65px;
  align-items: center;
  position: relative;
}
.cont-btn-sm{
  position: absolute;
  right: 10px;
  bottom: -2px;
}
.input-panel-escribir{
  display: flex;
  margin: 5px 10px;
}
.input-only{
  margin: 5px 10px;
  outline: none;
  border: none;
}
.icon{
  padding-right: 10px;
}
/* TWIT */
.twit{
 display: flex;
 flex-direction: column;
 padding: 5px 10px;
 border-bottom: 1px solid gray;
}
.text-twit{
  padding: 0;
  /* padding-left: 50px; */
  margin: 0;
  margin-bottom: 5px;
}
.input-twit{
  display: flex;
  align-items: center;
}
.foto-twit{
  width: 200px;
  margin: auto;
  
}
.iconos-twit{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.icon-twit{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT */

/* SEARCH BAR */
.cont-search{
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 20px;
  margin: 10px 25px;
}
.search-input{
  border: none;
  background-color: #f9f9f9;
  margin-right: 30px;
  outline: none;
}
.icon-input{
  margin: 5px;
}

/* TRENDING */
.cont-trending-topics{
  margin: 10px 30px;
  background-color:#f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 0 20px;
}
.cont-trending-topics h3{
}
.cont-trendin-topic{
  margin: 5px 10px;
  padding: 0 15px;
}
.cont-trendin-topic:hover {
 border-radius: 10px;
 background-color: #ddd;
}
.cont-trendin-topic{
  padding: 5px 10px;
}
.cont-trendin-topic p{
  
}
.cont-trendin-topic h3{
  margin-bottom: 0;
}