body,htm,#root{
  margin: 0;
  padding: 0;
}

:root {
  --blanco: white;
  --blanco-oscuro: #e7e7e7;
  --gris-claro: lightgray;
  --gris-oscuro: grey;
}

body {
  background-color: var(--blanco-oscuro);
}

a{
  border: none;
}
.App {
  display: flex;
  justify-content: center; 
  width: 90%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.Dashboard-div{
  display: flex;
  justify-content: center;
}

.leftbar{
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.center{
  width: 40%;
}

.rightbar{
  width: 25%;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}


/* MENU */
.leftbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.lista-menu p {
  font-size: 18px;
}

.tile{
  display:flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px 30px;
}
.tile:hover{
  background-color: var(--gris-claro);
  border-radius: 20px;
}
.icono-tile{
  padding-right: 10px;
}
.boton-twittear-big{
  background-color: hsl(210, 100%, 56%);
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  color: var(--fondo);
  transition: background-color 0.5s ease;
}
.boton-twittear-small{
  background-color: hsl(210, 100%, 56%);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  color: var(--fondo);
  transition: background-color 0.5s ease;
}
.boton-twittear-big:hover{
  background-color: hsl(210, 100%, 45%);
}
.boton-twittear-small:hover{
  background-color: hsl(210, 100%, 45%);
}
.btn-left{
  margin-left: 20px;
}

/* PERFIL */
.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  position: absolute;
  bottom: 5px;
}
.perfil:hover {
  background-color: var(--gris-claro);
  border-radius: 20px;
}
.foto-perfil{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.perfil p{
  padding-left: 5px;
  margin: 0;
  font-size: 12px;
}
.datos-perfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.datos-perfil .subtitulo{
  color: var(--gris-oscuro);
}

/* PANEL CENTRAL */
.center{
  border: 1px solid var(--gris-claro);
  border-top: none;
}
.titulo{
  margin: 5px 10px;
}
#btn-top{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--gris-claro);
}
.btn-center{
  background-color: var(--fondo);
  border: none;
  margin-top: 20px;
  /* padding: 10px  18%; */
  width: 50%;
  padding: 20px 10px;
  display: block;
}
.btn-center:hover{
  background-color: var(--blanco-oscuro)
}


.panel-escribir{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gris-claro);
}
.iconos-panel-escribir{
  display: flex;
  margin: 5px 10px 10px 65px;
  align-items: center;
  position: relative;
}
.cont-btn-sm{
  position: absolute;
  right: 10px;
  bottom: -2px;
}
.input-panel-escribir{
  display: flex;
  margin: 5px 10px;
}
.input-only{
  margin: 5px 10px;
  outline: none;
  border: none;
}
.icon{
  padding-right: 10px;
}
/* TWIT */
.twit{
 display: flex;
 flex-direction: column;
 padding: 10px 20px;
 border-bottom: 1px solid var(--gris-claro)
}
.text-twit{
  padding: 0;
  /* padding-left: 50px; */
  margin-left: 5px;
  margin-bottom: 10px;
}
.input-twit{
  display: flex;
  align-items: center;
}
.foto-twit{
  width: 100%;
  margin: auto;
  border-radius: 10px;

  
}
.iconos-twit{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.icon-twit{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT */

/* SEARCH BAR */
.cont-search{
  display: flex;
  align-items: center;
  background-color: var(--blanco-oscuro);
  border-radius: 20px;
  margin: 10px 25px;
}
.search-input{
  border: none;
  background-color: var(--blanco-oscuro);
  margin-right: 30px;
  outline: none;
}
.icon-input{
  margin: 5px;
}

/* TRENDING */
.cont-trending-topics{
  margin: 10px 30px;
  background-color: var(--blanco-oscuro);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
}
.cont-trendin-topic{
  margin: 5px 10px;
  padding: 0 15px;
}
.cont-trendin-topic:hover {
 border-radius: 10px;
 background-color: var(--gris-claro);
}
.cont-trendin-topic{
  padding: 5px 10px;
}
.cont-trendin-topic h3{
  margin-bottom: 0;
}

/* LOGIN Y REGISTER */
.login-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 150px; */
  height: 100vh;
  width: 100%;
}


.login-email,
.login-password{
  outline: none;
  border: none;
  background-color: var(--blanco);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 0;
}
.login-button{
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--gris-oscuro);
  border: none;
  color: white;
}
.name,.password{
  margin-top: 5px;
}
.login-email{
  margin-bottom: 10px;
}
.sub{
  font-size: 12px;
  color: blue;
}